h1 {border: 1px solid blue}
#p1 {border: 1px solid black;margin: 0px; padding: 50px}
#p2 {border: 1px solid black;margin: 30px; padding: 0px;}
#p3 {border: 1px solid black;margin: 50px; padding: 30px;}
#p4 {border: 1px solid black;margin: 30px; padding: 50px;}
